/* Base styles */
body {
    background-color: #444444;
    color: #ffffff;
}

/* Typography */
.h1,
.h2,
.welcome h1 {
    color: #ffffff;
}

h1,
p {
    color: #908E8E;
}

h2 {
    color: #908E8E;
}

h3 {
    color: #908E8E;
}

h5 {
    color: #908E8E;
}



/* Navigation */
.navbar {
    align-items: center;
    background-color: #907ad6;
    box-shadow: 0 0 10px #907ad6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar a {
    color: black;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}

.navbar .logo {
    align-items: center;
    display: flex;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.nav {
    background-color: #333333;
    overflow: hidden;
}

.nav a {
    color: #C9C8C8;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Layout Components */
.sidebar {
    background-color: #333333;
    border-image: linear-gradient(135deg, #ff00ff, #00ffff, #ff00ff) 1;
}

.content {
    background-color: #444444;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-size: 400% 400%;
    border: 2px solid;
    border-radius: 10px;
}

/* Projects Section */
.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background-color: #ffffff;
    border: 2px solid #a32cc4;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.project-card h3 {
    color: black;
    font-size: 1.5rem;
}

.project-card h4 {
    color: black;
}

.project-card p {
    font-size: 1.1rem;
}


/* Table Styles */
.table {
    border-collapse: collapse;
    border-left: 100px;
    width: 100%;
}

body .table td {
    background-color: #333;
    color: #fff;
}

body .table th {
    background-color: #444;
    color: #fff;
}



/* Forms */
form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 30px auto;
}

label {
    color: #908E8E;
    display: block;
    margin-bottom: 5px;
}

select,
input[type="date"],
input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    color: #fff;
    background-color: #8f7ad6a3;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

button:hover {
    background-color: #7a68c1;
}
.inputbox{
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}
input {
    color: #fff;
    background-color: #C9C8C8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

input:hover {
    background-color: #b4a8e4;
}


/* Utility Classes */
.welcome {
    background-color: #333333;
}

.welcome p {
    color: #C9C8C8;
}

.cookie-consent div {
    background-color: #333;
    color: white;
}

.footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

.overlay-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    width: 500px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .nav a {
        display: none;
    }

    .responsive-link {
        display: none;
    }

    .nav-toggle {
        display: block;
        float: right;
        background-color: #333;
        color: #C9C8C8;
        font-size: 30px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .nav-toggle:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #333333;
        width: 100%;
    }

    .dropdown-menu a {
        float: none;
        color: #C9C8C8;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        display: block;
    }

    .dropdown-menu a:hover {
        background-color: #444;
        color: white;
    }
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    button {
        padding: 10px;
    }
}