








/* dark mode */
 .h2 {
    color: #ffffff;
}

.sidebar {
    background-color: #333333;
    border-image: linear-gradient(135deg, #ff00ff, #00ffff, #ff00ff) 1;
}


 .cookie-consent div {
    background-color: #333;
    color: white;
}

 .footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

 .h1 {
    color: #ffffff;
}

 .nav {
    background-color: #1a1a1a;
}

 .nav a {
    color: #C9C8C8;
}

 .nav a:hover {
    background-color: #444444;
    color: #ffffff;
}

 .table {
    border-collapse: collapse;
    border-left: 100px;
    width: 100%;
}

 .welcome {
    background-color: #333333;
}

 .welcome h1 {
    color: #ffffff;
}

 .welcome p {
    color: #C9C8C8;
}

.content {
    background-color: #444444;
}

body {
    background-color: #121212;
    color: #ffffff;
}

body .table td {
    background-color: #333;
    color: #fff;
}

body .table th {
    background-color: #444;
    color: #fff;
}

body .overlay-content {
    background-color: #333;
    color: #fff;
}

.navbar {
    align-items: center;
    background-color: #907ad6;
    box-shadow: 0 0 10px #907ad6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar a {
    color: black;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}

.navbar .logo {
    align-items: center;
    display: flex;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}
.nav {
    background-color: #333333;
    overflow: hidden;
}

.nav a {
    color: #C9C8C8;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .nav a {
        display: none; /* Hide normal nav links */
    }

    .responsive-link {
        display: none; /* Hide the links that will go into the dropdown */
    }

    .nav-toggle {
        display: block; /* Show the hamburger icon */
        float: right;
        background-color: #333;
        color: #C9C8C8;
        font-size: 30px;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .nav-toggle:hover {
        background-color: #ddd;
        color: black;
    }

    .dropdown-menu {
        display: none; /* Hidden by default */
        position: absolute;
        top: 100%; /* Positions below the nav bar */
        right: 0;
        background-color: #333333;
        width: 100%; /* Full width for mobile */
    }

    .dropdown-menu a {
        float: none;
        color: #C9C8C8;
        padding: 14px 20px;
        text-align: center;
        text-decoration: none;
        display: block; /* Full width links */
    }

    .dropdown-menu a:hover {
        background-color: #444;
        color: white;
    }
}

.projects-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background-color: #ffffff;
    border: 2px solid #a32cc4;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card h3 {
    color: black;
    font-size: 1.5rem;
}

.project-card h4 {
    color: black;
}

.project-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.project-card p {
    font-size: 1.1rem;
}
