
.cookie-consent {
    display: none;
}
.synth-wave-text, .synth-wave-text * {
    font-family: "Arial", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    background: linear-gradient(90deg, #ff00cc, #333399, #00ffcc,#333399, #ff00cc);
    background-size: 400%;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorShift 30s infinite; /* Changed speed from 3s to 1.5s */
}

@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gradient-navbar {
    background: linear-gradient(90deg, #ff00cc, #333399, #00ffcc, #333399, #ff00cc);
    background-size: 400%;
    animation: colorShift 30s infinite;
    height: 5px; /* Added height */
}
  
.cookie-consent button {
    background-color: #8e6be0;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 10px;
}

.dark-mode .cookie-consent div {
    background-color: #333;
    color: white;
}
.dark-mode .table {
    width: 100%;
    border-collapse: collapse;
    border-left: 100px;
  }
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

body.dark-mode .table th {
    background-color: #444;
    color: #fff;
}

body.dark-mode .table td {
    background-color: #333;
    color: #fff;
}
.cookie-consent div {
    background-color: white;

    color: #333;
}
.advice {
    margin: 0 auto;
    text-align: center;
    width: 18%;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    background-color: #ffffff;
    color: #333333;
}

.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-bottom: 200px;
    margin-top: 20px;
    max-width: 450px;
    padding: 20px;
}

.content.dark-mode {
    background-color: #444444;
}

.day {
    text-align: center;
    width: 18%;
}

.day img {
    height: 50px;
    width: 50px;
}

.footer {
    background-color: #333333;
    bottom: 0;
    color: #ffffff;
    left: 0;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
}

.footer a {
    color: #C9C8C8;
    text-decoration: none;
}

.footer a:hover {
    color: #ffffff;
}

.footer h4 {
    margin: 10px 0;
}

.footer hr {
    border: 1px solid #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333333;
    padding: 8px;
    width: 100%;
}

.form-group input::placeholder {
    color: #aaaaaa;
}

.form-group label {
    color: #333333;
    display: block;
    margin-bottom: 5px;
}

.health-advice {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.h1 {
    color: #333333;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

.nav {
    background-color: #333333;
    overflow: hidden;
}

.nav a {
    color: #C9C8C8;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.navbar {
    align-items: center;
    background-color: #907ad6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 0 10px #907ad6;
}

.navbar a {
    color: black;
    font-size: 18px;
    margin: 0 15px;
    text-decoration: none;
}

.navbar .logo {
    align-items: center;
    display: flex;
}

.navbar .logo img {
    height: 50px;
    margin-right: 10px;
}

.overlay-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    width: 500px;
}

body.dark-mode .overlay-content {
    background-color: #333;
    color: #fff;
}

body.light-mode .overlay-content {
    background-color: #fff;
    color: #000;
}

.sidebar.dark-mode {
    background-color: #333333;
}

.welcome {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 50px;
    text-align: center;
}

.welcome h1 {
    color: #333333;
}

.welcome p {
    color: #666666;
}

@media (prefers-color-scheme: dark) {
    .container {
        background-color: #333333;
        color: #ffffff;
    }

    .form-group input,
    .form-group select {
        background-color: #444444;
        border-color: #555555;
        color: #ffffff;
    }

    .form-group label {
        color: #ffffff;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dark-mode .footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

.dark-mode .h1 {
    color: #ffffff;
}

.dark-mode .nav {
    background-color: #1a1a1a;
}

.dark-mode .nav a {
    color: #C9C8C8;
}

.dark-mode .nav a:hover {
    background-color: #444444;
    color: #ffffff;
}

.dark-mode .welcome {
    background-color: #333333;
}

.dark-mode .welcome h1 {
    color: #ffffff;
}

.dark-mode .welcome p {
    color: #C9C8C8;
}

.forecast {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
