<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dojo learning{% endblock %}</title>
    <link rel="StyleSheets" href="/StyleSheets/StyleMain.css" />
</head>
<body>
    <nav>
        <ul>
            <!-- Navigation bar links -->
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        <div class="home">
            <div class="div">
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <p class="look-into-our">Look Into Our Amazing Coursers</p>
                    <p class="text-wrapper">
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text
                    </p>
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                    <img class="image" src="img/image-20.png" />
                    <img class="img" src="img/image-21.png" />
                </div>
                <div class="overlap">
                    <div class="text-wrapper-2">Home</div>
                    <div class="profile">Profile</div>
                    <div class="courses">Courses</div>
                    <div class="about-us">About Us</div>
                </div>
                <img class="image-2" src="img/image-19.png" />
                <div class="overlap-2">
                    <p class="sample-text-sample">
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text&nbsp;&nbsp;sample text sample text sample text
                    </p>
                    <p class="p">
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text sample text sample text sample text sample text sample text sample text
                        sample text sample text sample text&nbsp;&nbsp;sample text sample text sample text
                    </p>
                    <img class="image-3" src="img/image-3.png" />
                    <img class="image-4" src="img/image-2.png" />
                </div>
                <div class="why-us">Why Us ?</div>
            </div>
        </div>
        <!-- <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://embed.figma.com/design/EGAnPIvDP9bDFd2jI2vEzT/Untitled?node-id=1-191&embed-host=share" allowfullscreen></iframe> -->
        {% endblock %}
    </div>
</body>
</html>
{% block scripts %}
<script src="/scripts/main.js"></script>
{% endblock %}
{% extends "base.html" %}

