<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
{% extends "index.html" %}
{% block title %}about-page{% endblock %}
<html lang="en">

<body>
{% block content %}
    <h1>Welcome, {{ username }}!</h1>



    <div class="footer">
        <footer>
            <h4>Contact Us</h4>
            <hr>
            <!-- Only user email address added -->
            <label>Email: Bean&BrewContant@gmail.com </label>
            <a href="mailto:Bean&BrewContant@gmail.com"></a><br>
        </footer>
    </div>
</body>
{% endblock %}    
  
</html>