<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template creation</title>
    <link rel="StyleSheets" href="/StyleSheets/StyleMain.css" />
</head>
<nav>

    <a href="/Templates/index.html">Home</a>
    <a href="/Templates/test.html">test</a>

</nav>
<body>
    <h1>This is the homepage</h1>      
    <div class="date">
        <h2>The date is: </h2>
        <p>Date: 2021-07-07</p>
        <p>Time: 12:00:00</p>
    </div>
</body> 

</html>