<!DOCTYPE html>
<html lang="en">
  {% extends "index.html" %} {% block title %}User Info{% endblock %} {% block
  content %}

  <style>


    th,
    td {
      padding: 8px 12px;
      border: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
      color: #000;
    }

    .user_info {
      margin-left: 50px;
    }

    .course_info {
      margin-left: 50px;
      margin-bottom: 200px;
    }
    .course_from {
      margin-left: 50px;
    }
    .container {
      text-align: center;
      margin-left: auto;
      margin-bottom: auto;
      margin-right: auto;
    }
    .add_course {
      margin-bottom: 200px;
    }
  </style>

  <body>
    <h1>User Information</h1>
    <div class="user_info">
      <h2>Here is the information of all courses:</h2>
      <table>
        <thead>
          <tr>
            <th>course id</th>
            <th>course name</th>
            <th>course description</th>
            <th>course duration</th>
          </tr>
        </thead>
        <tbody>
          {% for courses in courses %}
          <tr>
            <td>{{ courses[0] }}</td>
            <td>{{ courses[1] }}</td>
            <td>{{ courses[2] }}</td>
            <td>{{ courses[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="course_info">
      <h2>Here is the information of all users:</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Is Admin (1 = Yes)</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container remove_courses">
      <h2>Remove Course</h2>
      <form action="/delete_course" method="post">
        <label for="course_id">Course ID:</label><br />
        <input type="text" id="course_id" name="course_id" required /><br />
        <button type="submit" style="color: #8f7ad6">Remove Course</button>
      </form>
    </div>

    <div class="container remove_users">
      <h2>Remove User</h2>
      <form action="/delete_user" method="post">
        <label for="user_id">User ID:</label><br />
        <input type="text" id="user_id" name="user_id" required /><br />
        <button type="submit" style="color: #8f7ad6">Remove User</button>
      </form>
    </div>

    <div class="container course_from" style="margin-bottom: 250px">
      <h2>Add New Course</h2>
      <form action="/add_course" method="post">
        <label for="course_name">Course Name:</label><br />
        <input type="text" id="course_name" name="course_name" /><br />
        <label for="course_description">Course Description:</label><br />
        <input
          type="text"
          id="course_description"
          name="course_description"
        /><br />
        <label for="course_duration">Course Duration:</label>
        <li>
          <label for="courses">Select a course length:</label>
          <br />
          <select id="courses" name="courses" required>
            <option value="">Select a length</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </li>
        <button type="submit" style="color: #8f7ad6">Book Now</button>
      </form>
    </div>
  </body>

  {% endblock %}
</html>
