<!DOCTYPE html>
<html lang="en">
  {% extends "index.html" %} {% block title %}test{% endblock %} {% block
  content %}
  <body>
    <div class="container" style="margin-bottom: 10px; text-align: center">
      <h1>Session placed Successfully!</h1>
      <p>Thank you for booking. Your session has been booked successfully.</p>
      <p>
        if you want to go to the main page
        <a href="/home" style="color: blueviolet">click here</a>
      </p>
    </div>
    <div class="container" style="margin: auto; text-align: center">
      <h4>if you wish to provide feedback click one of the options bellow</h4>
      <p>
        if you want to go to provide customer feedback <br /><a
          href="https://forms.office.com/Pages/DesignPageV2.aspx?origin=NeoPortalPage&subpage=design&id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUMVNZTkFOUFhXU1VYUEhISVpDQk1WV1pQUi4u"
          style="color: blueviolet"
          >click here</a
        >
      </p>

      <p>
        if you want to go to provide developer feedback <br /><a
          href="https://forms.office.com/Pages/DesignPageV2.aspx?origin=NeoPortalPage&subpage=design&id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUMVNZTkFOUFhXU1VYUEhISVpDQk1WV1pQUi4u"
          style="color: blueviolet"
          >click here</a
        >
      </p>
    </div>
  </body>
  {% endblock %}
</html>
