<!DOCTYPE html>
<html lang="en">

{% extends "index.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}

<body>
        <form method="POST" action="/Sign-Up" >
            <h1>sign up</h1>
            <h3>We are glad to have you here. currantly ther is about half a second to a second delay on sign up</h3>
            
            <!-- Username Field -->
            <div class="inputbox" >
                <label for="username">Username:</label>
                <br>
                <input name="username" id="username" type="text" maxlength="15" minlength="3" required>
            </div>
            
            <!-- Email Field -->
            <div class="inputbox">
                <label for="email">Email</label>
                <br>
                <input name="email" id="email" type="email" 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
                    title="Please enter a valid email address with @ and .com" 
                    minlength="7" maxlength="50" required>
            </div>
            
            <!-- Password Field -->
            <div class="inputbox">
                <label for="password">Password:</label>
                <br>
                <input name="password" id="password" type="password" 
                    maxlength="20" minlength="8" 
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_\-+=<>?.,]).{8,}"
                    title="Password must contain at least 8 characters, including uppercase, lowercase, digits, and special characters" 
                    required>
                <br>
                <h5><input type="checkbox" id="showPassword" onclick="togglePassword()"> Show Password</h5>
            </div>

            <script>
                function togglePassword() {
                    var passwordField = document.getElementById("password");
                    if (passwordField.type === "password") {
                        passwordField.type = "text";
                    } else {
                        passwordField.type = "password";
                    }
                }
            </script>

            <!-- Submit Button -->
            <button type="submit" id="submitBtn" >Register</button>
        </form>



    {% endblock %}
</body>

</html>
