<!DOCTYPE html>
<html lang="en">
  {% extends "index.html" %} 
  {% block title %}unfinished{% endblock %} 
  {% block content %}
  <body>
    <div class="container" style="margin-bottom: 10px; text-align: center">
      <h1></h1>
      <p>Sorry, the page you are looking for is still under development.</p>
      <p>
        If you want to go to the main page,
        <a href="/home" style="color: blueviolet">click here</a>
      </p>
    </div>
    <div class="container" style="margin: auto; text-align: center">
      <h4>If you wish to provide feedback, click one of the options below:</h4>
      <p>
        To provide customer feedback, <br /><a
          href="https://forms.office.com/Pages/DesignPageV2.aspx?origin=NeoPortalPage&subpage=design&id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUMVNZTkFOUFhXU1VYUEhISVpDQk1WV1pQUi4u"
          style="color: blueviolet"
          >click here</a>
      </p>
      <p>
        To provide developer feedback, <br /><a
          href="https://forms.office.com/Pages/DesignPageV2.aspx?origin=NeoPortalPage&subpage=design&id=CdDIyR-2JUOW3P06doIHq_QNFVgP94xDloBOCNpImkBUMVNZTkFOUFhXU1VYUEhISVpDQk1WV1pQUi4u"
          style="color: blueviolet"
          >click here</a>
      </p>
    </div>
  </body>
  {% endblock %}
</html>
